:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.section{ 
  padding-bottom: 94px;
}
.cotainer{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  background-color: var(--white-color);
}
/* logo */
.page-header-logo {
  margin: 93px;

  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.part-logo {
  color: var(--accent-color);
}
/* site-nav */
.main-nav{
  display: flex;
  align-items: center;
}
.site-nav-list{
  display: flex;
  padding: 0;

  list-style: none;
  }
  .site-nav-list .item:not(:last-child){
    margin-right: 50px;
  }
.site-nav-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.auth-nav{
  margin-left: auto;
}
/* contacts */
.contacts {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
/* hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
outline: 2px solid red;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  border-radius: 4px;
  padding:10px 32px;
  margin-left: auto;
  margin-right: auto;
}
/* work */
.list{
  display: flex;
  padding: 0;
  margin: 0;
   list-style: none;
}
.list:not(:last-child){
  margin-right: 30px;
}
.title{
  margin-top: 0;
  margin-bottom: 0;
}
.work-second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.pros-list{
  display: flex;
  padding: 0;
  margin: 0;
   list-style: none;
}
.pros-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.pros-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-list{
  display: flex;
  padding: 0;
  margin: 0;
   list-style: none;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.team-name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.taem-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/* footer */
.bottom {
  background-color: #2f303a;
}
.logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.botom-list{
  padding: 0;
  margin: 0;
   list-style: none;
}
.address-link {
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.portfolio-links {
  text-decoration: none;
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
margin-bottom: 0;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
    margin-top: 4px;
margin-bottom: 0;
}
.portfolio-button:not(:last-child){
  margin-right: 52px;
}
.portfolio-button {
  display: flex;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

