:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #2f303a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
.page-header {
  background-color: var(--white-color);
}
/* logo */
.page-header-logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 24px 1240px 25px 215px;
}
.part-logo {
  color: var(--accent-color);
}
/* site-nav */
.list {
  list-style: none;
}
.site-nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
/* contacts */
.contacts {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
outline: 2px solid red;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* work */
.work-second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.pros-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pros-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.taem-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */
.bottom {
  background-color: #2f303a;
}
.logo {
  color: var(--white-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.address-link {
  color: var(--white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.portfolio-links {
  text-decoration: none;
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}
